<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:fragment="meta-fragment">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<link rel="stylesheet" href="../css/header.css" />
<link rel="stylesheet" href="../css/common.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/stacktrace.js/1.3.1/stacktrace.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="../js/lib/hammer-time.min.js"></script>
<script src="../js/lib/jsonrpc.js"></script>
<script src="../js/lib/parseUri.js"></script>
<script src="../js/lib/ua-parser.min.js"></script>
<script src="../js/utils.js"></script>
</head>
<div class="container">
  <div id="mag-nav" class="row no-gutter" th:fragment="top-menu">
    <div id="nav-btns-wrapper" class="col-xs-10">
      <div class="pull-left">
        <div id="loading">
          <img src="../img/loading.gif">
        </div>
        <img id="back" src="../img/back.svg"> <img id="forward" src="../img/forward.svg">
      </div>
      <div id="nav-title-wrapper">
        <div id="nav-title"></div>
      </div>
    </div>
    <div id="nav-menu-wrapper" class="col-xs-2">
      <div id="nav-menu" class="dropdown pull-right">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="top-dropdown">
          <div id="dropdown-menu-icon">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
        </button>
        <ul class="dropdown-menu">
          <li><div id="user-name" class="item"></div></li>
          <li role="separator" class="divider"></li>
          <li><a href="checkpoints.html" class="item" th:text="#{checkpoint}">チェックポイント</a></li>
          <li><a href="visit-history.html" class="item" th:text="#{records}">活動記録</a></li>
          <li><a href="score.html" class="item" th:text="#{score}">スコア / 順位</a></li>
          <li><a href="badge.html" class="item" th:text="#{badges}">バッジ</a></li>
          <!--
          <li role="separator" class="divider"></li>
          <li><a href="check-environment.html" class="item">動作環境チェック</a></li> -->
          <!--  <li><a href="help.html" class="item">ヘルプ</a></li> -->
          <li role="separator" class="divider"></li>
          <li><a class="item" onclick="confirmLogout()"><span th:text="#{logout}"></span></a></li>
          <li><a href="https://kyoto.wasenavi.jp/" class="item">Top | Machinavi@Kyoto</a></li>
          <!-- <li><a href="credits.html" class="item">クレジット</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
</html>
